In [1]:
import pandas as pd
import numpy as np
import warnings
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv("D:/DM_Project_Dataset/training_cleaned.csv")
# df = pd.read_csv("training_cleaned.csv")
df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehicleAge,Make,Model,SubModel,Color,Transmission,...,TopThreeAmericanName,BYRNO,VehBCost,IsOnlineSale,WarrantyCost,IsBase,Region,AuctionAVG,RetailAVG,Trend
0,326,1,2010-10-25,ADESA,2,KIA,SPECTRA,MEDIUM,BLUE,AUTO,...,OTHER,5546,6100.0,0,533,NO,SAT,7128.5,10300.0,-0.012594
1,42991,0,2009-05-27,MANHEIM,3,DODGE,STRATUS V6 2.7L V6 M,MEDIUM,SILVER,AUTO,...,CHRYSLER,99750,4000.0,0,1630,NO,SAT,5970.5,6948.0,0.000000
2,55273,0,2010-03-18,OTHER,2,DODGE,CALIBER,MEDIUM,BLACK,AUTO,...,CHRYSLER,99761,7500.0,0,693,NO,WSC,8061.5,11199.0,-0.022092
3,29058,0,2009-06-08,OTHER,4,FORD,FREESTAR FWD V6 3.9L,VAN,BROWN,AUTO,...,FORD,99761,4725.0,0,1633,NO,MNT,5737.5,6696.5,0.000000
4,34991,0,2009-03-04,MANHEIM,4,CHRYSLER,TOWN & COUNTRY FWD V,VAN,BLUE,AUTO,...,CHRYSLER,20833,5670.0,0,1623,YES,WSC,6061.0,7046.0,0.004692

In [3]:
df_clas = df.drop(columns=['RefId',
        'PurchDate',
        'IsBadBuy',
        'Auction',
        'Make',
        'Model',
        'WheelType',
        'Nationality',
        'Size',
        'Color',
        'Transmission',
        'BYRNO',
        'TopThreeAmericanName',
        'SubModel',
        'VehicleAge',
        'IsOnlineSale',
        'Region',
        'IsBase',])
df_clas.dropna(inplace=True)
len(df_clas)
df_clas.head()

   VehOdo  VehBCost  WarrantyCost  AuctionAVG  RetailAVG     Trend
0   61184    6100.0           533      7128.5    10300.0 -0.012594
1   92383    4000.0          1630      5970.5     6948.0  0.000000
2   45965    7500.0           693      8061.5    11199.0 -0.022092
3   80169    4725.0          1633      5737.5     6696.5  0.000000
4   77372    5670.0          1623      6061.0     7046.0  0.004692

In [4]:
X = df_clas
y = df['IsBadBuy']

In [ ]:
# Split the dataset in two equal parts
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

# Set the parameters by cross-validation
tuned_parameters = {
    'kernel': ['linear', 'rbf', 'sigmoid'],
    'C': [0.01, 0.1, 1, 10, 100],
    'gamma': ['scale', 'auto'] + [1, 0.1, 0.01, 0.001]
}

scores = ['recall', 'f1']

for score in scores:
    print("# Tuning hyper-parameters for ----> %s" % score)
    print()
    
    obj = SVC()
    
    if (score == "recall"):
      clf = GridSearchCV(obj, tuned_parameters, cv=5, scoring=score)
    else:
      clf = GridSearchCV(obj, tuned_parameters, cv=5, scoring='%s_macro' % score)
                         
    clf.fit(X_train, y_train)

    print("Best parameters set found on development set:")
    print()
    print(clf.best_params_)
    print()
    print("Grid scores on development set:")
    print()
    means = clf.cv_results_['mean_test_score']
    stds = clf.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, clf.cv_results_['params']):
        print("%0.3f (+/-%0.03f) for %r"
              % (mean, std * 2, params))
    print()

    print("Detailed classification report:")
    print()
    print("The model is trained on the full development set.")
    print("The scores are computed on the full evaluation set.")
    print()
    y_true, y_pred = y_test, clf.predict(X_test)
    print(classification_report(y_true, y_pred))
    print()

# Tuning hyper-parameters for ----> recall